### PROD
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
always-auth = true
@novatics:registry=https://npm.pkg.github.com/
# registry=https://npm.pkg.github.com/@mgonc
//npm.pkg.github.com/:_authToken=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
# registry=https://registry.npmjs.org/